.section3 .circle-1 {
  width: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section3 .circle-2 {
  width: 35px;
  height: 35px;
  background-color: var(--border-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .small-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--primary-color);
  border-radius: 50px;
  right: -5px;
  bottom: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1px;
  color: var(--color-white);
}

.section3 .small-icon i {
  font-size: 12px;
}

.icon-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-area .p1 {
  font-family: var(--font-color1);
  font-size: 16px;
  margin: 8px 0 -1px;
}

.icon-area .p2 {
  font-family: var(--font-color1);
  font-size: 14px;
  font-weight: 300;
}
