html,
body,
ul {
  margin: 0;
  padding: 0;
  background-color: "red";
}

:root {
  --color-red: red;
  --primary-color: rgb(112, 101, 240);
  --border-color: rgb(224, 222, 247);
  --color-white: #ffffff;
  --primary-font: "Inter", sans-serif;
  --bg-color: rgb(250, 250, 254);
  --color-black: rgb(0, 0, 0);
  --font1: Arial, Helvetica, sans-serif;
  --font2: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-color1: rgb(161, 165, 176);
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: 16px;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  outline: none;
}

input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active {
  border: none;
  outline: none;
}

@media (min-width: 2000px) {
  .page-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
  }
  .page-frame > div {
    width: 1130px;
  }
}
